/* google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h2,
p {
  margin: 0;
  padding: 0;
}

/* content */
.content {
  padding: 50px 100px;
}

/* brand-button */
.brand-button {
  border: none;
  padding: 10px 20px;
  width: 200px;
  text-decoration: none !important;
  margin-top: 20px;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
  color: #fff;
  background-size: 200%;
  transition: 1s;
  background-image: linear-gradient(to left, #12cbc4, #0652dd, #12cbc4);
}
.brand-button:hover {
  background-position: right;
}

.sticky-top {
  position: fixed !important;
  width: 100%;
}
/* Heading text */
.heading-text {
  display: flex;
  justify-content: center;
}
.heading-text h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
  margin-top: 20px;
  text-transform: uppercase;
}
.tsparticles-canvas-el {
  position: absolute !important;
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 25px 50px;
  }
}
